body {background: silver;}

@font-face {
    font-family: "MonotypeCorsiva"; 
    src: url("MonotypeCorsiva.ttf"); 
}

.main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 70%;
	margin: auto;
	}

img {
	width: 200px;
	height: 200px;
	margin: 20px;
	  border: 1px black solid;
	  border-radius: 10%;
}

a:hover{
	transform: scale(1.25);
	transition-duration: 0.8s;
}

p {position: absolute;
left: 50%;
top: 30%;
transform:translate(-50%,-50%);
visibility: hidden;
text-align: center;
font-size: 2em;
color:red;
font-weight: 900;
font-family: "MonotypeCorsiva";
}

a:hover p{
	visibility:visible;
}
a:hover img{opacity: 0.2}
