body {background-size: 100% 100vh;
background-repeat: no-repeat;}

.information {
	height: 60%;
	width: 40%;
	position: relative;
	/*border: 1px solid red;*/
	top:20%;
	left: 50%;
	transform: translate(-50%,50%);
	text-align: center;
	background: silver;
	opacity: 0.6;
 	box-shadow: rgba(255,255,240,.2) 0 0 200px 100px, rgba(255,255,240,.3) 0 0 40px, inset rgba(0,0,0,.8) 0 0 20px;
 	border-radius:  2em;
}

.youAreHere__article {margin-bottom: -1em;}

.buttonCelFar{position: absolute;
	right: 1em;
	top: 1em;}

h4 {font-size: 150%;
font-family: 'Comic Sans MS', serif;
opacity: 1;
z-index: 1;}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 12%;
}

.slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
