* {margin: 0;padding: 0;
  box-sizing: border-box;
}

.header {
	display: flex;
	justify-content: center;
}
.headerVideo {
		display: flex;
		flex:8;
}
.resultArea {
	display: flex;
	flex:3;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 0.1rem;
}

button{width: 10rem;
	height: 3em;
	font-size: 1em;
	margin: 0.1rem;
	display: block;
	border-radius: 2%;
	/*margin-bottom: 0.3rem;*/
}

input {padding: 0.3rem;
       font-size: 0.7rem;
        text-shadow: 0px 1px 0px #fff;
        outline: none;
        background: -webkit-gradient(linear, left top, left bottom, from(#bcbcbe), to(#ffffff));
        background: -moz-linear-gradient(top, #bcbcbe, #ffffff);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 5px;
        border: 1px solid #717171;
        -webkit-box-shadow: 1px 1px 0px #efefef;
        -moz-box-shadow: 1px 1px 0px #efefef;
        box-shadow: 1px 1px 0px #efefef;
}

html{
	font-family: 'helvetica neue', sans-serif;
	font-weight: 100;
	font-size: 1.5rem;
	background: silver;
}

video {
	margin: auto;
}

ul {padding: 0 10% 0 10% ;
	display:flex;
	justify-content:space-around;
	flex-wrap: wrap;
	list-style-type: none;
}

li {padding: 1rem;
	line-height: 1.5em;
    width: 29%;
}

.correctInput{
	background: mediumseagreen;
	opacity: 0.8;
	border: solid 1px black}

h4{text-align: center;}


@media screen and (max-width: 1000px) {
   .header {
	display: block;
	}
	.headerVideo{
		display: block;
		width: 100%;}
	video {width: 90%;}

	input {
		width: 200px;
		margin-right: 10px;
		}
	li{width: 100%;}
}