.parrent{background: url(https://ak7.picdn.net/shutterstock/videos/6068147/thumb/1.jpg);	
background-size: 100%;
}

button {background: grey;
		color: white;
	    border: 0px solid #000;
}

.filmInfo {background: grey;}