.wr{
	display: inline-grid;
	grid-template-columns: repeat(3, minmax(230px, auto));
	grid-auto-rows: 250px;
	grid-gap: 20px;
}

.french{
	box-sizing: border-box;
	height: 35px;
	width: 35px;
	border:35px solid #000e5e;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 33px white, 0px 0px 0px 66px red;
	display: inline-block;
	margin-left:80px;
	margin-top: 80px;
}


.french2{
	position: relative;
	top:13px;left: 	0px;
	width:202px;
	height: 202px;
	border-radius: 50%;
	background: red;
	display: inline-block;
}
.french2::before{
	content: "";
	width: 132px;
	height: 132px;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	background: white;
	border-radius: inherit;
}
.french2::after{
	content: "";
	width: 70px;
	height: 70px;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	background: #000e5e;
	border-radius: inherit;
}	

.frenchRadio {
	display: flex;
    justify-content: center;
    margin-left: -32%;
    margin-top: 48px;
}

input[type="radio"]:checked {
    display: none;
}
.frenchRadio>label{
    content: "";
    width: 70px;
	height: 70px;
	border-radius: 50%;
	background: #000e5e;
	border: 30px white solid;
    box-shadow: 0 0 0 35px red;
    }